/*----------------
GLOBAL VARIABLES
-----------------*/

$gabe-primary: #8749f3;
$gabe-primary-dark: #5c2fab;

$gabe-dark: #3f3f3f;
$gabe-darker: #1a1a1a;

$gabe-light: #ededed;

$header-font: 'Raleway', sans-serif;
$body-font: 'Roboto', sans-serif;

$padding-lg: 7rem;
$padding-md: 5rem;
$padding-sm: 3rem;

$icon-size: 100px;

/*-------------------
DEFAULTS
-------------------*/

section {
    padding: $padding-lg {
        left: 0;
        right: 0;
    }
}

.container {
    max-width: 1400px;
    padding: $padding-sm;
    margin: 0 auto;
}

.row {
    display: flex;
}

body.dark {
    background: $gabe-darker;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
}

p, a, ul, li {
    font-family: 'Raleway', sans-serif;
}

/*----------------
NAVBAR
-----------------*/

navbar {
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        list-style: none;
        padding: $padding-sm {
            top: 0;
            bottom: 0;
        }
    }

    a {
        font-size: 1.25rem;
        color: #1a1a1a;
        font-weight: 500;
        padding-bottom: 6px;
        text-decoration: none;
        border-bottom: 2px solid #1a1a1a;
    }
}

.icon {
    height: $icon-size;
    width: $icon-size;
    margin: 5px;
    font-size: 1.5rem;
    & > a {
      color: white;
    }
}

/*--------------
HERO
-------------*/

#hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------
ABOUT
----------------*/

#about {
    text-align: center;
}

/*--------------
PROJECTS
--------------*/

#projects {
    text-align: center;
}

/*--------------
TEMPLATES
---------------*/

#templates {
    text-align: center;
}

.template {
    padding: $padding-md;
}

.theme-img {
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: 0 auto 3rem;
}